.product{
    width: 300px;
    border-radius: 10px;
    box-shadow: 7px 8px 19px -2px rgba(0,0,0,0.83);
    -webkit-box-shadow: 7px 8px 19px -2px rgba(0,0,0,0.83);
    -moz-box-shadow: 7px 8px 19px -2px rgba(0,0,0,0.83);
}

.product-details{
    padding: 8px;
}

.product-img{
    display: flex;
    justify-content: center;
}

.product-img img{
    width: 230px;
    height: 286px;
}

.product-info{
    margin: 20px 0;
    padding: 0 10px;
}

.product button{
    width: 100%;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    background-color: #FFE0B3;
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product button:hover{
    background-color: #1C2B35;
    color: white;
}

button p{
    margin-right: 10px;
}

@media screen and (max-width: 480px) {
    .product{
        width: 200px;
    }
    
    .product-img img{
        width: 150px;
        height: 200px;
    }
    
    .product-info{
        margin: 10px 0;
    }
    
    .product button{
        padding: 5px;
        font-size: 15px;
    }
}